---
# SPDX-FileCopyrightText: 2020 Cam N. Coulter <cam@cncoulter.com>
# SPDX-License-Identifier: GPL-3.0-or-later
layout: page
permalink: /blog/categories/
title: "Categories"
---

<!-- Initial Tag List -->
<section>
    {% assign categories_list = site.categories | sort %}

    <p class="text-center my-3">
    {% for category in categories_list %}
        <a href="{{ site.baseurl }}/blog/categories#{{ category[0] | url_encode }}" class="btn btn-outline-primary my-1">
            <i class="fas fa-folder-open"></i>
            {{ category[0] }}
        </a>
    {% endfor %}
    </p>
</section>

<!-- List out all posts for reach tag -->
{% for category in categories_list %}
    <section id="{{ category[0] | url_encode }}" class="card my-3">
        <div class="card-body">
            <header>
                <h2 class="h4 card-title">{{ category[0] }}</h2>
            </header>
            <ul class="card-text">
            {% for post in category.last %}
                  <li><span class="font-weight-light text-muted">{{ post.date | date: "%e %B %Y" }}:</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            {% capture number_of_posts %}{{ category[1].size }}{% endcapture %}
            {% if number_of_posts == "1" %}
                {{ category[1].size }} post
            {% else %}
                {{ category[1].size }} posts
            {% endif %}
        </div>
    </section>
{% endfor %}

{% assign categories_list = nil %}
