---
layout: page
permalink: /people/
title: People
---

{% for image in site.images %}
     <img src="{{ image.title }}" />
{% endfor %}

<ul class="list-unstyled">
    {% for image in site.images %}
        <p>Something exists!</p>
        <img src="{{ image.title }}" class="img-fluid" alt="TK">
    {% endfor %}
</ul>


<ul class="list-unstyled">
    {% for person in site.people %}
        {% if person.photo %}
            <li class="media">
                <a href="{{ person.url }}" title="View Profile"><img src="{{ person.photo }}" class="mr-3 rounded" width="75" alt="Author photo"></a>
                <div class="media-body">
                  <a href="{{ person.url }}"><h5 class="mt-0 mb-1">{{ person.title }}</h5></a>
                  {{ person.content }}
                </div>
            </li>
        {% else %}
        <li class="media">
            <div class="media-body">
              <a href="{{ person.url }}"><h5 class="mt-0 mb-1">{{ person.title }}</h5></a>
              {{ person.content }}
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
