/*
SPDX-FileCopyrightText: 2020 Cam N. Coulter <cam@cncoulter.com>
SPDX-License-Identifier: CC0-1.0
*/

$primary: #006FE6; // update Bootstrap's primary blue color so that the color contrast between this color and bg-light is WCAG AA conformant
$code-color: #d6337e;
