{% comment %}
SPDX-FileCopyrightText: 2020 Cam N. Coulter <cam@cncoulter.com>
SPDX-License-Identifier: CC0-1.0
{% endcomment %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/people">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/fork">Fork</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/contribute">Contribute</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
