<ul class="list-inline">

    {% if author.website %}
        <li class="list-inline-item">
            <a href="{{ author.website }}" data-toggle="tooltip" data-placement="bottom" title="Website">
                <i class="fas fa-user-circle"></i>
            </a>
        </li>
    {% endif %}

    {% if author.facebook %}
        <li class="list-inline-item">
            <a href="https://facebook.com/{{ author.facebook }}" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
    {% endif %}

    {% if author.instagram %}
        <li class="list-inline-item">
            <a href="https://instagram.com/{{ author.instagram }}" data-toggle="tooltip" data-placement="bottom" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
    {% endif %}

    {% if author.twitter %}
        <li class="list-inline-item">
            <a href="https://twitter.com/{{ author.twitter }}" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    {% endif %}

    {% if author.youtube %}
        <li class="list-inline-item">
            <a href="https://youtube.com/{{ author.youtube }}" data-toggle="tooltip" data-placement="bottom" title="Youtube">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    {% endif %}

    {% if author.spotify %}
        <li class="list-inline-item">
            <a href="https://spotify.com/{{ author.spotify }}" data-toggle="tooltip" data-placement="bottom" title="Spotify">
                <i class="fab fa-spotify"></i>
            </a>
        </li>
    {% endif %}

    {% if author.bandcamp %}
        <li class="list-inline-item">
            <a href="https://bandcamp.com/{{ author.bandcamp }}" data-toggle="tooltip" data-placement="bottom" title="Bandcamp">
                <i class="fab fa-bandcamp"></i>
            </a>
        </li>
    {% endif %}

    {% if author.linkedin %}
        <li class="list-inline-item">
            <a href="https://linkedin.com/in/{{ author.linkedin }}" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
    {% endif %}

    {% if author.github %}
        <li class="list-inline-item">
            <a href="https://github.com/{{ author.github }}" data-toggle="tooltip" data-placement="bottom" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
        </li>
    {% endif %}

    {% if author.email %}
        <li class="list-inline-item">
            <a href="mailto:{{ author.email }}" data-toggle="tooltip" data-placement="bottom" title="Email">
                <i class="far fa-envelope"></i>
            </a>
        </li>
    {% endif %}

    {% if author.feed %}
        <li class="list-inline-item">
            <a href="{{ author.url }}feed.xml" data-toggle="tooltip" data-placement="bottom" title="Feed">
                <i class="fas fa-rss"></i>
            </a>
        </li>
    {% endif %}

</ul>
