{% comment %}
SPDX-FileCopyrightText: 2020 Cam N. Coulter <cam@cncoulter.com>
SPDX-License-Identifier: GPL-3.0-or-later
{% endcomment %}

<ul class="list-inline">

    {% if page.website %}
        <li class="list-inline-item">
            <a href="{{ page.website }}" data-toggle="tooltip" data-placement="bottom" title="Website" class="icon-link">
                <i class="fas fa-globe-americas"></i>
                <span class="sr-only">Personal Website</span>
            </a>
        </li>
    {% endif %}

    {% if page.facebook %}
        <li class="list-inline-item">
            <a href="https://facebook.com/{{ page.facebook }}" data-toggle="tooltip" data-placement="bottom" title="Facebook" class="icon-link">
                <i class="fab fa-facebook-square"></i>
                <span class="sr-only">Facebook</span>
            </a>
        </li>
    {% endif %}

    {% if page.instagram %}
        <li class="list-inline-item">
            <a href="https://instagram.com/{{ page.instagram }}" data-toggle="tooltip" data-placement="bottom" title="Instagram" class="icon-link">
                <i class="fab fa-instagram"></i>
                <span class="sr-only">Instagram</span>
            </a>
        </li>
    {% endif %}

    {% if page.twitter %}
        <li class="list-inline-item">
            <a href="https://twitter.com/{{ page.twitter }}" data-toggle="tooltip" data-placement="bottom" title="Twitter" class="icon-link">
                <i class="fab fa-twitter"></i>
                <span class="sr-only">Twitter</span>
            </a>
        </li>
    {% endif %}

    {% if page.tumblr %}
        <li class="list-inline-item">
            <a href="https://twitter.com/{{ page.tumblr }}" data-toggle="tooltip" data-placement="bottom" title="Tumblr" class="icon-link">
                <i class="fab fa-tumblr-square"></i>
                <span class="sr-only">Tumblr</span>
            </a>
        </li>
    {% endif %}

    {% if page.patreon %}
        <li class="list-inline-item">
            <a href="https://www.patreon.com/{{ page.patreon }}" data-toggle="tooltip" data-placement="bottom" title="Patreon" class="icon-link">
                <i class="fab fa-patreon"></i>
                <span class="sr-only">Patreon</span>
            </a>
        </li>
    {% endif %}

    {% if page.youtube %}
        <li class="list-inline-item">
            <a href="https://youtube.com/{{ page.youtube }}" data-toggle="tooltip" data-placement="bottom" title="Youtube" class="icon-link">
                <i class="fab fa-youtube"></i>
                <span class="sr-only">Youtube</span>
            </a>
        </li>
    {% endif %}

    {% if page.spotify %}
        <li class="list-inline-item">
            <a href="https://spotify.com/{{ page.spotify }}" data-toggle="tooltip" data-placement="bottom" title="Spotify" class="icon-link">
                <i class="fab fa-spotify"></i>
                <span class="sr-only">Spotify</span>
            </a>
        </li>
    {% endif %}

    {% if page.bandcamp %}
        <li class="list-inline-item">
            <a href="https://bandcamp.com/{{ page.bandcamp }}" data-toggle="tooltip" data-placement="bottom" title="Bandcamp" class="icon-link">
                <i class="fab fa-bandcamp"></i>
                <span class="sr-only">Bandcamp</span>
            </a>
        </li>
    {% endif %}

    {% if page.linkedin %}
        <li class="list-inline-item">
            <a href="https://linkedin.com/in/{{ page.linkedin }}" data-toggle="tooltip" data-placement="bottom" title="LinkedIn" class="icon-link">
                <i class="fab fa-linkedin"></i>
                <span class="sr-only">LinkedIn</span>
            </a>
        </li>
    {% endif %}

    {% if page.github %}
        <li class="list-inline-item">
            <a href="https://github.com/{{ page.github }}" data-toggle="tooltip" data-placement="bottom" title="GitHub" class="icon-link">
                <i class="fab fa-github"></i>
                <span class="sr-only">GitHub</span>
            </a>
        </li>
    {% endif %}

    {% if page.paypal %}
        <li class="list-inline-item">
            <a href="https://paypal.me/{{ page.paypal }}" data-toggle="tooltip" data-placement="bottom" title="PayPal" class="icon-link">
                <i class="fab fa-paypal"></i>
                <span class="sr-only">PayPal</span>
            </a>
        </li>
    {% endif %}

    {% if page.email %}
        <li class="list-inline-item">
            <a href="mailto:{{ page.email }}" data-toggle="tooltip" data-placement="bottom" title="Email" class="icon-link">
                <i class="far fa-envelope"></i>
                <span class="sr-only">Email</span>
            </a>
        </li>
    {% endif %}

    {% if page.feed %}
        <li class="list-inline-item">
            <a href="{{ page.url }}feed.xml" data-toggle="tooltip" data-placement="bottom" title="Feed" class="icon-link">
                <i class="fas fa-rss"></i>
                <span class="sr-only">RSS</span>
            </a>
        </li>
    {% endif %}

</ul>
