---
layout: page
title: Blog
---

<!-- Loop through the paginated posts -->
{% for post in paginator.posts %}

    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

    <!-- Author -->
    {% if post.author %}
    <p class="lead">
        {% assign author = site.people | where: 'code_name', post.author | first %}
        by <a href="{{ author.url }}">{{ author.title }}</a>
    </p>
    {% endif %}

    <!-- Date -->
    <p><i class="far fa-calendar-alt"></i> {{ post.date | date_to_rfc822 }}</p>

    <!-- Featured Image -->
    {% if post.image %}
        {% assign featured_image = site.images | where: 'title', post.image | first %}
        <img src="{{ site.baseurl }}/img/{{ featured_image.title }}" class="img-fluid" alt="{{ featured_image.alt }}" title="{{ featured_image.caption }}">
    {% endif %}

    <!-- List the post description -->
    <!-- <p>{{ post.description | markdownify }}</p> -->

    <!-- Alternatively, you can use an except, which by default is the first paragraph of the post -->
    <p>{{ post.excerpt }}</p>
    <p><a href="{{ post.url }}">[Read more…]</a></p>

    <!-- Alternatively, you can display the entire blog post -->
    <!-- {{ post.content }} -->

{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
    <nav aria-label="Blog pagination">
        <ul class="pagination justify-content-center">

            {% if paginator.previous_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
                    </li>
                {% elsif page == 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ site.url }}/blog/">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
