---
# SPDX-FileCopyrightText: 2020 Cam N. Coulter <cam@cncoulter.com>
# SPDX-License-Identifier: GPL-3.0-or-later
layout: default
title: Blog
---

<!-- Page Content-->
<article>
    <div class="container">
        <div class="row justify-content-center">

            <!-- Column 1: Post Content -->
            <div class="col-lg-8">

                <!-- Page Title -->
                <h1 class="display-4 mt-4">Blog</h1>

                <!-- Display recent blog posts -->
                {% for post in paginator.posts %}

                    <!-- Featured Image -->
                    {% if post.image %}
                        {% assign featured_image = site.images | where: 'title', post.image | first %}
                        <a href="{{ post.url }}">
                            <img src="{{ site.baseurl }}/img/{{ featured_image.title }}" class="img-fluid" alt="{{ featured_image.alt }}" title="{{ featured_image.caption }}">
                        </a>
                    {% endif %}

					<!-- Post Title -->
                    <h1 class="mt-2"><a href="{{ post.url }}">{{ post.title }}</a></h1>

                    <!-- Author, Date, & Categories -->
                    {% if post.author %}
                    <p class="font-weight-normal">
                        {% assign author = site.people | where: 'code_name', post.author | first %}
                        <i class="fas fa-user"></i>
                        <a href="{{ author.url }}">{{ author.title }}</a>
                        <span class="font-weight-light">|</span>
                        <i class="far fa-calendar-alt"></i>
                        {{ post.date | date: "%B %e, %Y" }}
                        {% if post.categories != empty %}
                            <span class="font-weight-light text-muted">|</span>
                            {% for category in post.categories %}
                                <a href="{{ site.baseurl }}/blog/categories#{{ category }}" class="badge badge-tag mr-1">
                                    <i class="fas fa-folder-open"></i>
                                    {{ category }}
                                </a> <!-- TK may have screwed this up -->
                            {% endfor %}
                        {% endif %}
                    </p>
                    {% endif %}

                    <!-- List the post description -->
                    <p class="lead">{{ post.description }}</p>

                    <!-- Alternatively, you can use an except, which by default is the first paragraph of the post
                    <article>{{ post.excerpt | markdownify }}</article>
                    <p><a href="{{ post.url }}">[Read more…]</a></p> -->

                    <!-- Alternatively, you can display the entire blog post
                    {{ post.content }} -->

                    {% if forloop.last == false %}
                        <hr>
                    {% endif %}

                {% endfor %}




                <!-- Pagination -->
                {% if paginator.total_pages > 1 %}
                <nav aria-label="Blog pagination">
                    <ul class="pagination justify-content-center">

                        {% if paginator.previous_page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% endif %}

                        {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
                        </li>
                        {% elsif page == 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ site.url }}/blog/">{{ page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if paginator.next_page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ paginator.next_page_path | relative_url }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                        {% endif %}

                    </ul>
                </nav>
                {% endif %}

            </div>

            <!-- Column 2: Sidebar -->
            <div class="col-lg-4">

                <!-- Side Widget: Archive, RSS Feed, Categories, & Tags NEEDS CODE CLEANING TK -->
                <div class="card mt-4">
                    <h5 class="card-header">Read More</h5>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <a href="/blog/archive" class="card-link btn btn-outline-primary m-1"><i class="fas fa-archive"></i> Archive</a>
                            <a href="/feed.xml" class="card-link btn btn-outline-primary m-1"><i class="fas fa-rss"></i> RSS Feed</a>
                            <a href="/blog/categories" class="card-link btn btn-outline-primary m-1"><i class="fas fa-folder-open"></i> Categories</a>
                            <a href="/blog/tags" class="card-link btn btn-outline-primary m-1"><i class="fas fa-tag"></i> Tags</a>
                        </div>
                    </div>
                </div>

                <!-- Side Widget: Recent Posts -->
                <div class="card mt-4">
                    <h5 class="card-header">Recent Posts</h5>
                    <div class="list-group list-group-flush">
                        {% for post in site.posts limit:5 %}
                        <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item list-group-item-action">
                            {{ post.title }}
                        </a>
                        {% endfor %}
                    </div>
                </div>

            </div>

        </div>

    </div>
</article>
