---
layout: default
---
<!-- Page Content-->
<article>
    <div class="container">

        <div class="row justify-content-center">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h2 class="mt-4">{{ page.title | escape }}</h2>

                <!-- Featured Image -->
                {% if page.image %}
                    <img src="{{ page.image }}" class="img-fluid mx-auto d-block mb-3" alt="{{ page.alt-text }}" title="{{ page.caption }}"/>
                {% endif %}

                <!-- Post Content -->
                <div>{{ content }}</div>

            </div>

        </div>

    </div>
</article>
