---
layout: default
---
<!-- Page Content-->
<article>
    <div class="container">

        <div class="row justify-content-center">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h2 class="mt-4">{{ page.title }}</h2>

                {%- include socialmedia_page.html -%}

                <p>Position: <strong>{{ page.position }}</strong></p>

                <!-- Post Content -->
                <div>{{ content }}</div>

                {% assign filtered_posts = site.posts | where: 'author', page.code_name %}
                {% if filtered_posts.size != 0 %}
                    <h2>Posts</h2>
                    <ul>
                        {% for post in filtered_posts %}
                            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>

        </div>

    </div>
</article>
