---
layout: default
---
<!-- Page Content-->
<article>
    <div class="container">

        <div class="row justify-content-center">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h2 class="mt-4">{{ page.title }}</h2>

                <!-- Author -->
                <p class="lead">
                    by {% if page.author.name %}{{ page.author.name }}{% else %}{{ site.author }}{% endif %}
                </p>

                <p class="text-muted">
                    <!-- Date/Time -->
                    Posted on {{ page.date | date: "%B %e, %Y" }}

                    <!-- Post: Categories -->
                    {% if page.categories != empty %}
                    {% for category in page.categories %}
                    <a href="{{ site.baseurl }}/blog/categories#{{ category }}" class="badge badge-primary mx-1">{{ category }}</a>
                    {% endfor %}
                    {% endif %}
                </p>

                <!-- Featured Image -->
                {% if page.image %}
                    <img src="{{ page.image }}" class="img-fluid mx-auto d-block mb-3" alt="{{ page.alt-text }}" title="{{ page.caption }}"/>
                {% endif %}

                <!-- Post Content -->
                <div>{{ content }}</div>

                <!-- Post Footer: Tags -->
                {% if page.tags != empty %}
                <p class="text-center">
                    {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}/blog/tags#{{ tag }}" class="badge badge-primary m-1">{{ tag }}</a>
                    {% endfor %}
                </p>
                {% endif %}

            </div>

        </div>

    </div>
</article>
