---
layout: default
---
<!-- Page Content-->
<article>
    <div class="container">

        <div class="row justify-content-center">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h2 class="mt-4">{{ page.title }}</h2>

                <!-- Author -->
                {% if page.author %}
                <p class="lead">
                    {% assign author = site.people | where: 'code_name', page.author | first %}
                    by <a href="{{ author.url }}">{{ author.title }}</a>
                </p>
                {% endif %}

                <!-- Date/Time -->
                <p class="text-muted"><i class="far fa-calendar"></i> Posted on {{ page.date | date: "%B %e, %Y" }}</p>

                <!-- Featured Image -->
                {% if page.image %}
                    {% assign featured_image = site.images | where: 'title', page.image | first %}
                    <figure class="figure">
                        <img src="{{ site.baseurl }}/img/{{ featured_image.title }}" class="figure-img img-fluid" alt="{{ featured_image.alt }}" title="{{ featured_image.caption }}">
                        <figcaption class="figure-caption text-muted font-weight-light small">{{ featured_image.content }}</figcaption>
                    </figure>
                {% endif %}

                <!-- Post: Categories -->
                {% if page.categories != empty %}
                    <p>Categories:
                    {% for category in page.categories %}
                        <a href="{{ site.baseurl }}/blog/categories#{{ category }}" class="badge badge-tag mx-1"><i class="fas fa-folder-open"></i> {{ category }}</a>
                    {% endfor %}
                    </p>
                {% endif %}

                <!-- Post Footer: Tags -->
                {% if page.tags != empty %}
                    <p>Tags:
                    {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/blog/tags#{{ tag }}" class="badge badge-tag mx-1"><i class="fas fa-tag"></i> {{ tag }}</a>
                    {% endfor %}
                    </p>
                {% endif %}

                <!-- Post Content -->
                <div>{{ content }}</div>

                <!-- Author Bio -->
                <div class="card bg-light">
                    <div class="card-body">

                    {% if author.photo %}
                        <div class="media">
                          <a href="{{ author.url }}" title="View Profile"><img src="{{ site.url }}{{ author.photo }}" alt="Author photo" class="align-self-start mr-3 rounded" width="75"></a>
                          <div class="media-body">
                            <h5 class="mt-0">About <a href="{{ author.url }}">{{ author.title }}</a></h5>
                            {{ author | markdownify }}
                          </div>
                        </div>
                    {% else %}
                        <h4 class="card-title">About <a href="{{ author.url }}">{{ author.title }}</a></h4>
                        <p class="card-text">{{ author | markdownify }}</p>
                    {% endif %}

                    <span class="text-center">{%- include socialmedia_post.html -%}</span>

                    </div>
                </div>

                <!-- Comments -->
                {% if site.disqus.shortname %}
                    {% include disqus_comments.html %}
                {% endif %}

        </div>

    </div>
</article>
