---
layout: default
---
<!-- Page Content-->
<article>
    <div class="container">

        <div class="row justify-content-center">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h2 class="mt-4">{{ page.title }}</h2>

                <!-- Author -->
                {% if page.author %}
                <p class="lead">
                    {% assign author = site.people | where: 'code_name', page.author | first %}
                    by <a href="{{ author.url }}">{{ author.title }}</a>
                </p>
                {% endif %}

                <!-- Date/Time -->
                <p class="text-muted">Posted on {{ page.date | date: "%B %e, %Y" }}</p>

                <!-- Post: Categories -->
                {% if page.categories != empty %}
                    <p>Categories:
                    {% for category in page.categories %}
                        <a href="{{ site.baseurl }}/blog/categories#{{ category }}" class="badge badge-tag mx-1"><i class="fas fa-folder-open"></i> {{ category }}</a>
                    {% endfor %}
                    </p>
                {% endif %}

                <!-- Post Footer: Tags -->
                {% if page.tags != empty %}
                    <p>Tags:
                    {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/blog/tags#{{ tag }}" class="badge badge-tag mx-1"><i class="fas fa-tag"></i> {{ tag }}</a>
                    {% endfor %}
                    </p>
                {% endif %}

                <!-- Post Content -->
                <div>{{ content }}</div>

                <!-- Author Bio -->
                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="card-title">About {{ author.title }}</h4>
                        <p class="card-text">{{ author | markdownify }}</p>
                    </div>
                </div>

        </div>

    </div>
</article>
